@using Microsoft.AspNetCore.Identity


@using FactoryManagementSystem.Data.AdditionUserData
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="pt-1 pr-2" >
                <a class="text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button class="btn btn-dark" style="margin-right:30px !important; margin-top:10px !important;" type="submit">Logout</button>
                @*<button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>*@
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="mr-md-3 mrsm-2"><a class="text-light" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a class="text-light" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}